<!-- header section starts  -->

<header class="header">

    <a href="home.html" class="logo"><img src="../assets/image/logo3-removebg.png" alt=""> WorshipFirst</a>

    <form action="" class="search-form" id="search" #search>
        <input type="search" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars" (click)="navLinks(nav)"></div>
        <div id="search-btn" class="fas fa-search" (click)="searchBtn(search)"></div>
        <div id="cart-btn" class="fas fa-shopping-cart"(click)="showCart(cart)" ></div>
        <div id="login-btn" class="fas fa-user" (click)="showLogin(login)"></div>
    </div>

</header>

<!-- header section ends  -->

<!-- closer btn  -->

<div id="closer" #closer class="fas fa-times" (click)="closeBar()" ></div>

<!-- navbar  -->

<nav class="navbar-main" id="nav" #nav>
    <a routerLink="" (click)="closeBar()">home</a>
    <a routerLink="shop" (click)="closeBar()">shop</a>
    <a routerLink="audio-video" (click)="closeBar()">Audio/Videos</a>
    <a routerLink="about" (click)="closeBar()">about</a>
    <a routerLink="contact"  (click)="closeBar()">contact</a>
</nav>

<!-- shopping cart  -->

<div class="shopping-cart" id="cart" #cart>

     <div class="box">
        <i class="fas fa-times"></i>
        <img src="#" alt="">
        <div class="content">
            <h3>Kalash</h3>
            <span class="quantity"> 1 </span>
            <span class="multiply"> x </span>
            <span class="price"> $140.00 </span>
        </div>
    </div>
    
    <div class="box">
        <i class="fas fa-times"></i>
        <img src="#" alt="">
        <div class="content">
            <h3>Kalash</h3>
            <span class="quantity"> 1 </span>
            <span class="multiply"> x </span>
            <span class="price"> $140.00 </span>
        </div>
    </div>
    
    <div class="box">
        <i class="fas fa-times"></i>
        <img src="#" alt="">
        <div class="content">
            <h3>Kalash</h3>
            <span class="quantity"> 1 </span>
            <span class="multiply"> x </span>
            <span class="price"> $140.00 </span>
        </div>
    </div>
    
    <div class="box">
        <i class="fas fa-times"></i>
        <img src="#" alt="">
        <div class="content">
            <h3>Kalash</h3>
            <span class="quantity"> 1 </span>
            <span class="multiply"> x </span>
            <span class="price"> $140.00 </span>
        </div>
    </div>
    
    <h3 class="total"> total : <span>$560.00</span> </h3>

    <a href="#" class="btn">checkout cart</a>

</div>

<!-- login form  -->

<div class="login-form" id="login" #login>

    <form action="">
        <h3>login form</h3>
        <input type="email" placeholder="enter your email" class="box">
        <input type="password" placeholder="enter your password" class="box">
        <input type="submit" value="login as user" class="btn">
        <p>login as user with :<a href="#">Google</a></p>
        <input type="submit" value="login as pandit ji" class="btn">
        <p>forget password? <a href="#">click here</a></p>
        <p>don't have an account? <a href="#">create now</a></p>
        <p>Register As Pandit ji :<a href="#"> Register</a></p>
    </form>

</div>
<!-- <router-outlet></router-outlet> -->