
<nav class="navbar text-white navbar-expand">
    <div class="container-nav">
        
      <div class="nav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav " style="margin-left: 130px; font-size:larger;gap: 2rem;">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="color:white;font-size: 30px;">
                   Ocassions
                   </a>
                  <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="#">Diwali</a>
                    <a class="dropdown-item" href="# ">lakhmi pujan</a>
                    <a class="dropdown-item" href="#">chath pujan</a>
                    <a class="dropdown-item" href="#">baby shower</a>

                  </div>
               </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 30px;">
                 pujan Samagri
                 </a>
                <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="#">General </a>
                  <a class="dropdown-item" href="#">Agarbati</a>
                  <a class="dropdown-item" href="#">kum-kum</a>
                  <a class="dropdown-item" href="#">Kalash</a>

                </div>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" style="color: white;font-size: 30px;">
                 Book Pandit ji
                 </a>
                <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Genral pujan</a>
                  <a class="dropdown-item" href="#">Shadi</a>
                  <a class="dropdown-item" href="#">Shradhya</a>
                </div>
             </li>
             
             <li class="nav-item">
                <a class="nav-link " href="#" style="color: white; font-size: 30px;">Photo Frames</a>
               </li>

                 <li class="nav-item">
                  <a class="nav-link " href="#" style="color: white ; font-size: 30px;">Pujan vidhi videos</a>
                 </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false" style="color: white;font-size: 30px;">
                     Bhajan/Shloks
                     </a>
                    <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="#">Audio </a>
                      <a class="dropdown-item" href="#">Video</a>
                    </div>
                 </li>
             </ul>
         </div>
       </div>
    </div>

</nav>
<router-outlet></router-outlet>
<!-- <app-home>
</app-home> -->
