<nav class="navbar text-white navbar-expand">
    <div class="container-nav">
      <div class="nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav " style="margin-left: 80px; gap: 1.5rem;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color:white;">
              Ocassions
            </a>
            <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
              <div *ngFor="let Packages of package">
                <a class="dropdown-item" routerLink="/shops/{{Packages._id}}">{{Packages.name}}</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              General Samagri
            </a>
            <div>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/shops/{{products._id}}" *ngFor="let products of product">{{products.name}}</a>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" >
             Photo Frames
             </a>
            <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="book-priest">Lighted Frame</a>
              <a class="dropdown-item" routerLink="book-priest">Unlighted Frame</a>
            </div>
         </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" >
                 Book Priest
                 </a>
                <div class="dropdown-menu" style="font-size: large;" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="book-priest">Genral pujan</a>
                  <a class="dropdown-item" routerLink="book-priest">Shadi</a>
                  <a class="dropdown-item" routerLink="book-priest">Shradhya</a>
                </div>
             </li>
             
                <li class="nav-item" *ngFor="let cat of mediaCategories">
                <a class="nav-link " routerLink="/audio-videos/{{cat._id}}" >{{cat.name}}</a>
               </li>
             </ul>
         </div>
       </div>
    </div>
</nav>
<router-outlet></router-outlet>

