.navbar{
    color: rgb(245, 235, 235) !important;
    background-color: #fdb068 !important;
  }
  .nav li a{
   color: white;
   font-size:  20px;
  }
  .nav li .nav-link:hover{
    transition: 0.5s ease-in-out;
    color:#779 !important;
   
   }
   
  .nav li .dropdown-item{
    color:black;
    font-size: 20px;
   }