<app-header></app-header>
<app-nav-links></app-nav-links>
<section class="heading">
    <h3>Book Priest</h3>

</section>
<section class="priest">

    <h1 class="title"> <span>General pujan priest</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="../../assets/image/yagyesh_pandit.jpg" alt="">
            <h3>Pandit yagyesh sharma</h3>
            <h3>experience : 25 years</h3>
            <h3>99911155</h3>

            <input type="submit" value="Call Now" class="btn">
        </div>
        
    </div>
    <div class="box-container">

        <div class="box">
            <img src="../../assets/image/garvit_pandit.jpg" alt="">
            <h3>pandit garvit pathak</h3>
            <h3>experience : 5 years</h3>
            <h3>99911155</h3>

            <input type="submit" value="Call Now" class="btn">
        </div>
    </div>
    <div class="box-container">

        <div class="box">
            <img src="../../assets/image/pandit_manoj.JPG" alt="">
            <h3>pandit manoj sharma</h3>
            <h3>experience : 25 years</h3>
            <h3>99911155</h3>

            <input type="submit" value="Call Now" class="btn">

        </div>
    </div>
</section>
<app-footer></app-footer>