<!-- banner section starts  -->
<section class="title-heading">
    <span>Popular Packages</span>
</section>
<section class="banner-container">
    <div class="banner" *ngFor=" let packege of packageList">
        <img src={{packege.image}} alt="">

        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>

    <!-- <div class="banner">
        <img src="../assets/image/samagri.jpg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../assets/image/aggarbatii.jpg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../../../assets/image/images4.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>
    <div class="banner">
        <img src="../../../assets/image/index.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>
    <div class="banner">
        <img src="../../../assets/image/index5.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div> -->
</section>





<section class="title-heading">
    <span>Popular Products</span>
</section>
<section class="banner-container">

    <div class="banner" *ngFor="let product of productList">

        <img src={{product.image}} alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="" class="btn">Shop Now</a>
        </div>
    </div>

    <!-- <div class="banner">
        <img src="../../../assets/image/images6.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../../../assets/image/sughandham.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../../../assets/image/sut.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>
    <div class="banner">
        <img src="../../../assets/image/dupRose.jpeg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div>
    <div class="banner">
        <img src="../../../assets/image/shank.jpg" alt="">
        <div class="content">
            <span>limited offer</span>
            <h3>upto 50% off</h3>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </div> -->
</section>





<!-- banner section ends -->