<section class="title-heading">
    <span>Audio/video</span>
</section>
<section class="banner-container">

    <div class="banner">
        <img src="../../assets/image/shlok.jpg" alt="">
        <div class="content">
        
            <a routerLink="audio-videos" class="btn">Wacth Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../../assets/image/gayatri_mantra.jpg" alt="">
        <div class="content">
            <a routerLink="audio-videos" class="btn">Watch Now</a>
        </div>
    </div>

    <div class="banner">
        <img src="../../assets/image/ganesh_pujan.jpg" alt="">
        <div class="content">
                     <a routerLink="audio-videos"class="btn">Watch Now</a>
        </div>
    </div>

</section>
