.gradient-custom-2 {
  /* fallback for old browsers */
  /* background: #faf6f2f5; */
  
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, #ffa047, #ffa047, #ffa047, #ffa047); */
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color:  #ffa047;
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    background: #ffa047;
    color: #fff;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #fdb068;
  }